@using CallingCRM.Models
@using CallingCRM.Helpers
@model LedgerHistory

@{
    ViewBag.Title = "HistoryList";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.LinkTeam = "active";

    ViewBag.MessageTStatus = Session["MessageTStatus"];
    Session["MessageTStatus"] = "";

    List<LedgerHistory> HistoryList = ViewBag.History;
}

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-account-group"></i>
        </span>
       General Ledger List
    </h3>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_commonMesages")
    </div>
</div>

@using (Html.BeginForm("HistoryList", "Transaction", FormMethod.Post, new { @class = "form-horizontal", role = "form", action = "/Transaction/HistoryList" }))
{
    <div class="row">
        <div class="col-md-12">
            @if (HistoryList != null)
            {
                int sr = 0;
                <table class="table table-hover table-bordered datatable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Type of Transaction</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Amount</th>
                            <th>Date of Transaction</th>
                            <th>Options</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (LedgerHistory history in HistoryList)
                        {
                            sr++;
                            <tr>
                                <td>@sr</td>
                                <td>@history.TypeOfTransaction</td>
                                <td>@history.FromUser</td>
                                <td>@history.ToUser</td>
                                <td>@history.Amount</td>
                                <td>@history.DateofTransaction</td>
                                <td><a href="/Transaction/LedgerHistory/@history.Id">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

