@model CallingCRM.Models.UpdateUserInfoViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";

    ViewBag.ChangePwd = "active";
}

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-account"></i>
        </span>
        Change Login Credential
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview
                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>

@if (ViewBag.Username == "hwadmin")
{
<div class="row">
    <div class="col-md-12">
        <div class="text-success m-2">@ViewBag.sMessage</div>
        <div class="text-danger m-2">@ViewBag.eMessage</div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("ChangeUsername", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", Action = "/Account/ChangeUsername", onSubmit = "return confirm('Are you sure to change the username?')" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-info" })
                    <h4>Change Username</h4>
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.usernameView.OldUsername, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.usernameView.OldUsername, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.usernameView.NewUsername, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.usernameView.NewUsername, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.usernameView.ConfirmNewUsername, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.usernameView.ConfirmNewUsername, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" class="btn btn-success" value="Change Username" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", Action = "/Account/ChangePassword" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-info" })

                    <h4>Change Password</h4>
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.passwordView.Username, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.passwordView.Username, new { @class = "form-control", required = "required" })
                            <em id="userstatus" class="text-small text-info"></em>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.passwordView.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.passwordView.Password, new { @class = "form-control", required = "required", pattern = ".{6,}", title = "Six or more characters required." })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.passwordView.ConfirmPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.passwordView.ConfirmPassword, new { @class = "form-control", required = "required", pattern = ".{6,}", title = "Six or more characters required." })
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" class="btn btn-success" value="Change Password" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("ChangeOwner", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", Action = "/Account/ChangeOwner" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-info" })

                    <h4>Change Ownership</h4>
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.profileView.Username, new { @class = "control-label" }) *
                            @Html.TextBoxFor(m => m.profileView.Username, new { @class = "form-control", required = "required" })
                            <em id="userstatus" class="text-small text-info"></em>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.profileView.Name, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.profileView.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.profileView.Email, new { @class = "control-label" }) *
                            @Html.TextBoxFor(m => m.profileView.Email, new { @class = "form-control", type = "email", required = "required" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.profileView.Mobile, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.profileView.Mobile, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" class="btn btn-success" value="Change Owner" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

    <script>
        $("#Username").focusout(function () {
            $.ajax({
                url: "/Home/CheckUserName/" + $("#Username").val(), success: function (result) {
                    if (result == '<span class="text-danger">Username not available</span>') {
                        //$("#userstatus").html("Username is not valid");
                    } else {
                        //$("#userstatus").html("Username is valid");
                    }
                    //$("#userstatus").html(result);
                }
            });
        });

        $("#Username").focusin(function () {
            //$("#userstatus").html("");
        });

    </script>
}
else
{
    using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", Action = "/Account/ChangePassword" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-info" })

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-success">@ViewBag.sMessage</div>
                                <div class="text-danger">@ViewBag.eMessage</div>
                            </div>
                            @Html.HiddenFor(m => m.passwordView.Username, new { @class = "form-control", required = "required", @Value = ViewBag.Username })
                            <div class="form-group col-md-12">
                                @Html.LabelFor(m => m.passwordView.Password, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.passwordView.Password, new { @class = "form-control", required = "required", pattern = ".{6,}", title = "Six or more characters required." })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(m => m.passwordView.ConfirmPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.passwordView.ConfirmPassword, new { @class = "form-control", required = "required", pattern = ".{6,}", title = "Six or more characters required." })
                            </div>
                            <div class="form-group col-md-12">
                                <input type="submit" class="btn btn-success" value="Change Password" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
